.container-base{
    min-height: 100vh;
    min-width: 100vw;
    background-color: #a10015;
}

.container-base h1,
.container-base h2{
    color: #fbf7f6;
}

.fatto-logo{
    height: 130px;
}

.btn-green{
    background-color: #205A28 !important;
    border-color: #205A28 !important;
}
.btn-green:hover{
    background-color: #35813f !important;
}

.btn-red{
    background-color: #a10015 !important;
    border-color: #a10015 !important;
}
.btn-red:hover{
    background-color: #be2a3e !important;
}

.btn-blue{
    background-color: #001cd1 !important;
    border-color: #001cd1 !important;
}
.btn-blue:hover{
    background-color: #4b62f3 !important;
}

.add-false {
    opacity: 0;
    height: 0;
    padding: 0; /* Para garantir que não há espaço extra */
    visibility: hidden;
    overflow: hidden; /* Esconde o conteúdo extra */
    transition: opacity 2s ease, height 2s ease, padding 2s ease;
}

.add-true {
    opacity: 1;
    height: auto; /* Permite que o conteúdo se ajuste à altura */
    padding: 1rem; /* Ajuste o valor do padding conforme o seu layout */
    visibility: visible;
    transition: opacity 2s ease, height 2s ease, padding 2s ease;
}
