.task-left{
    border-radius: 15px 0 0 15px;
}

.task-right{
    border-radius: 0 15px 15px 0;
}

.task-edit{
    border-radius: 15px;
}

span i.bi-arrow-up-short:hover,
span i.bi-arrow-down-short:hover{
    color: grey;
    cursor: pointer;
}